<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2g.mybatis.dao.sys.AdminLoginLogExpandMapper">
    <delete id="deleteBySessionId" parameterType="java.lang.String">
        delete from
        admin_login_log where session_id=#{sessionId}
    </delete>
    <select id="query" parameterType="java.util.Map" resultType="java.lang.Integer">
        select admin_login_log_id from admin_login_log where 1=1
        <if test="keyword != null">
            and (admin_code like CONCAT('%',#{keyword},'%') or session_id like CONCAT('%',#{keyword},'%')
            or ip like CONCAT('%',#{keyword},'%'))
        </if>
    </select>
    <select id="queryBySessionId" resultType="java.lang.Integer">
        select admin_login_log_id from admin_login_log where session_id = #{sessionId}
    </select>
    <select id="querySessionIdByAccount" resultType="java.lang.String">
        select session_id from admin_login_log where admin_code = #{account}
    </select>
</mapper>