<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2g.mybatis.dao.sys.AdminUserRoleExpandMapper">
	<!-- 根据adminId查询已绑定角色id -->
	<select id="queryRoleIdsByAdminId" resultType="java.lang.Integer">
		select role_id from admin_user_role where admin_id=#{adminId}
	</select>
	<!-- 根据adminId 进行批量删除 -->
	<delete id="deleteByAdminId" parameterType="java.lang.Integer">
		delete from admin_user_role where admin_id=#{adminId}
	</delete>
</mapper>