<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2g.mybatis.dao.sys.CmSmsCodeExpandMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.lang.Long">
		select cm_sms_code_id from cm_sms_code where 1=1
		<if test="mobile != null and mobile != ''">
 			and mobile like CONCAT('%',#{mobile},'%')
 		</if>
		<if test="createTime != null">
			and DATE_FORMAT(create_time,'%y%m%d') = DATE_FORMAT(#{createTime},'%y%m%d')
		</if>
	</select>
</mapper>