<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2g.mybatis.dao.sys.CouponsExpandMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.lang.Long">
		select coupons_id from coupons t
		<where>
			<if test="userId!=null and userId!=''">
				and  t.user_id =#{userId}
			</if>
			<if test="source!=null and source!=''">
				and  t.source =#{source}
			</if>
			<if test="status!=null and status!=''">
				and  t.status =#{status}
			</if>
		</where>
	</select>
</mapper>