<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.p2g.mybatis.dao.sys.DqProductExpandMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.lang.Long">
		select dq_product_id from dq_product t
		<where>
			<if test="dqProduct.dqName!=null and dqProduct.dqName!=''">
				and  t.dq_name like '%${dqProduct.dqName}%'
			</if>
			<if test="dqProduct.dqDays!=null and dqProduct.dqDays!=''">
				and  t.dq_days =#{dqProduct.dqDays}
			</if>
		</where>
	</select>
</mapper>